name: Autograding

on:
  push:
    branches: [ master ]

jobs:
  grade:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          python -m ipykernel install --user --name python3

      - name: Execute notebook
        run: |
          jupyter nbconvert --execute --to notebook assignment.ipynb

      - name: Convert notebook to script
        run: |
          jupyter nbconvert --to python assignment.ipynb

      - name: Show generated assignment.py
        run: |
          cat assignment.py

      - name: Show files after conversion
        run: |
           ls -la

      - name: Autograding
        uses: education/autograding@v1
        with:
         tests: |
          - name: Accept Text Input
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_accept_text_input
            points: 5

          - name: Accept Alphanumeric Input
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_accept_alphanumeric_input
            points: 5

          - name: Accept Alphanumeric Convert
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_accept_alphanumeric_input_convert
            points: 5

          - name: Add Two Numbers
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_add_two_numbers
            points: 5

          - name: Floor Division
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_floor_division
            points: 5

          - name: Compare Numbers
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_compare_numbers
            points: 3

          - name: BMI Calculation
            run: PYTHONPATH=. pytest tests/test_assignment.py::test_calc_bmi
            points: 7

